<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/updateAdmin.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid justify-content-end">
            <a class="navbar-brand" href="/logout">Logout</a>
        </div>
    </nav>

    <!-- Users -->
    <div class="container">
        <h2>Users</h2>
    </div>

    <!-- Vertikal Linje -->
    <div class="container pb-2">
        <hr class="mb-4 my-auto">
    </div>

    <div class="container pb-5">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">Consumption</th>
                    <th scope="col">Production</th>
                    <th scope="col">Buffer</th>
                    <th scope="col">Block from selling</th>
                    <th scope="col">Update credentials</th>
                    <th scope="col">Remove user</th>
                </tr>
            </thead>
            <tbody id="users">
            </tbody>
        </table>
    </div>

    <!-- Statistics -->
    <div class="container">
        <h2>Statistics</h2>
    </div>

    <!-- Vertikal Linje -->
    <div class="container pb-2">
        <hr class="mb-4 my-auto">
    </div>

    <!-- Kort-grupp -->
    <div class="container pb-5">
        <div class="card-group mx-auto">

            <!-- Kort Wind-->
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Market demand</h6>
                </div>
                <div class="card-body text-center">
                </div>
            </div>

            <!-- Kort Price-->
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Modelled price</h6>
                </div>
                <div class="card-body text-center">
                    <p id="modelledPrice">

                    </p>
                </div>
            </div>

            <!-- Kort consumtion -->
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Price</h6>
                </div>
                <div class="card-body text-center">
                    <p id="price">

                    </p>
                </div>
            </div>

            <!-- Kort production -->
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Electricity production</h6>
                </div>
                <div class="card-body text-center ">
                    <p id="power"></p>
                </div>
            </div>

            <!-- Kort net-production -->
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Status</h6>
                </div>
                <div class="card-body text-center">
                    <p id="status"></p>
                </div>
            </div>

            <!-- kort buffer
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Buffer</h6>
                </div>
                <div class="card-body text-center">
                    <p>99</p>
                </div>
            </div> -->
        </div>
    </div>

    <!-- Control Panel -->
    <div class="container">
        <h2>Control Panel</h2>
    </div>

    <!-- Vertikal Linje -->
    <div class="container pb-2">
        <hr class="mb-4 my-auto">
    </div>
    <!-- Andra raden --->
    <div class="container pb-5">
        <div class="card-group mx-auto">

            <!-- Set Production Status Kort-->
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Electricity Production</h6>
                </div>
                <div class="card-body text-center">
                    <div class="container row">
                        <form method="POST" action="/switch" enctype="multipart/form-data">
                            <h6 class="col">Off/On</h6>
                            <div class="form-check form-switch">
                                <input onChange="this.form.submit()" name="switch" class="form-check-input"
                                    type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Kort Ratio-->
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Ratio</h6>
                </div>
                <div class="card-body text-center">
                    <div class="container row">
                        <h6 class="col">Send to Buffer</h6>
                        <form method="POST" action="/sendToBuffer" enctype="multipart/form-data">
                            <input type="range" name="sendToBuffer" value="50" min="0" max="100"
                                oninput="this.nextElementSibling.value = this.value">
                            <output>50</output>
                            <input type="submit" value="Update ratio">
                        </form>
                        <h6 class="col">Sell on Market</h6>
                    </div>
                </div>
            </div>

            <!-- Buffer kort-->
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Buffer</h6>
                </div>
                <div class="card-body text-center">
                    <p id="wind">
                        <label for="buffer">Buffer</label>
                        <meter id="buffer" value="0.1">2%</meter>

                    </p>
                    <div class="div text-center">
                        <h6>3%</h6>
                    </div>
                </div>
            </div>
            <!-- Set Price Kort-->
            <div class="card shadow-sm mx-2 bg-light">
                <div class="div text-center">
                    <h6>Electricity Price</h6>
                </div>
                <div class="card-body text-center">
                    <div class="container row">
                        <form method="POST" action="/setPrice" enctype="multipart/form-data">
                            <input type="range" name="setPrice" value="0" min="0" max="100"
                                oninput="this.nextElementSibling.value = this.value">
                            <output>0</output>
                            <input type="submit" value="Set price">
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- Upload File -->
    <div class="container">
        <h2>Manager Information</h2>
    </div>

    <!-- Vertikal Linje -->
    <div class="container pb-2">
        <hr class="mb-4 my-auto">
    </div>

    <div class="container">
        <form method="POST" action="/imageupload" enctype="multipart/form-data">
            <input type="file" name="filename">
            <input type="submit">
        </form>
    </div>
    <div>
        <img id="img" width="300" height="300" src="">
    </div>

</body>

</html>